<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link rel="shortcut icon" type="image/x-icon" href="https://www.kingston.gov.uk/site/favicon.ico" />
<link rel="apple-touch-icon" sizes="57x57" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-57x57.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="60x60" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-60x60.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="72x72" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-72x72.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="76x76" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-76x76.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="114x114" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-114x114.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="120x120" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-120x120.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="144x144" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-144x144.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="152x152" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-152x152.png?v=spc1.14">
<link rel="apple-touch-icon" sizes="180x180" href="//www.kingston.gov.uk/site/favicon/apple-touch-icon-180x180.png?v=spc1.14">
<link rel="icon" type="image/png" href="//www.kingston.gov.uk/site/favicon/favicon-32x32.png?v=spc1.14" sizes="32x32">
<link rel="icon" type="image/png" href="//www.kingston.gov.uk/site/favicon/favicon-194x194.png?v=spc1.14" sizes="194x194">
<link rel="icon" type="image/png" href="//www.kingston.gov.uk/site/favicon/favicon-96x96.png?v=spc1.14" sizes="96x96">
<link rel="icon" type="image/png" href="//www.kingston.gov.uk/site/favicon/android-chrome-192x192.png?v=spc1.14" sizes="192x192">
<link rel="icon" type="image/png" href="//www.kingston.gov.uk/site/favicon/favicon-16x16.png?v=spc1.14" sizes="16x16">
<link rel="manifest" href="//www.kingston.gov.uk/site/favicon/manifest.json?v=spc1.14">
<meta name="msapplication-TileColor" content="#132756">
<meta name="msapplication-TileImage" content="//www.kingston.gov.uk/site/favicon/mstile-144x144.png?v=spc1.14">
<meta name="msapplication-config" content="//www.kingston.gov.uk/site/favicon/browserconfig.xml?v=spc1.14">
<meta name="theme-color" content="#132756">