{% extends "govuk_template.html" %}

{% set global_header_text = 'Welcome to Kingston Council' %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
{% endblock %}

{% block inside_header %}
<div class="rbk-header-logo">
  <a href="{{ homepage_url|default('https://www.kingston.gov.uk') }}" title="{{ logo_link_title|default('Go to the Kingston Council homepage') }}" id="rbk-logo" class="content">
    <div class="rbk-header-logo-image">
      <img src="/public/images/rbk.svg">
    </div>
    <div class="rbk-header-logo-text">
      Welcome to <span>Kingston Council</span>
    </div>
  </a>
</div>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
        <!--
        <ul id="proposition-links">
          <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
          <li><a href="url-to-page-2">Navigation item #2</a></li>
        </ul>
        -->
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition rbk
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
